include README.md
include LICENSE
recursive-include acolytes/data *.md *.py *.json *.yml *.yaml *.txt *.wav
recursive-include acolytes/data/agents-internal *.md
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo